{
  "presets": [["env", {"targets": {"node": "current"}}], "react", "flow"],
  "plugins": [
    "transform-decorators-legacy",
    ["flow-runtime", {"annotate": false, "assert": false}],
    "transform-class-properties",
    "transform-async-generator-functions",
    "transform-object-rest-spread",
    "dynamic-import-node"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "test/**/*.js",
            "build/**/*.js"
          ]
        }]
      ]
    }
  }
}