{
  "parser": "babel-eslint",
  "plugins": [
    "react", "babel", "flowtype"
  ],
  "extends": [
    "@jedwards1211/eslint-config",
    "@jedwards1211/eslint-config-flow",
    "@jedwards1211/eslint-config-react"
  ],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
}