{
  "parser": "babel-eslint",
  "plugins": [
    "react", "babel", "flowtype"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "arrow-spacing": "error",
    "comma-spacing": "error",
    "computed-property-spacing": ["error", "never"],
    "eol-last": "error",
    "indent": ["error", 2],
    "jsx-quotes": "error",
    "keyword-spacing": "error",
    "key-spacing": ["error", {
      "mode": "strict"
    }],
    "linebreak-style": "error",
    "no-console": "error",
    "no-unused-vars": ["error", {
      "args": "none",
      "varsIgnorePattern": "React"
    }],
    "no-extra-semi": "error",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "no-trailing-spaces": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "no-whitespace-before-property": "error",
    "object-shorthand": ["error", "always"],
    "padded-blocks": ["error", "never"],
    "semi": ["error", "never"],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never"
    }],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": ["error", {"int32Hint": false}],
    "space-unary-ops": ["error", {
      "words": true,
      "nonwords": false
    }],
    "react/jsx-boolean-value": ["error", "never"],
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-closing-bracket-location": "error",
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-indent-props": "error",
    "react/jsx-key": "error",
    "react/jsx-space-before-closing": "error",
    "react/no-did-mount-set-state": 0,
    "react/no-unknown-property": 0,
    // use babel-plugin-flow-react-proptypes instead
    "react/prop-types": 0,
    "react/jsx-wrap-multilines": "error",
    "rest-spread-spacing": ["error", "never"],
    "flowtype/boolean-style": [
      2,
      "boolean"
    ],
    "flowtype/define-flow-type": 1,
    "flowtype/generic-spacing": [
      2,
      "never"
    ],
    "flowtype/no-primitive-constructor-types": 2,
    "flowtype/require-parameter-type": [
      2,
      {
        "excludeArrowFunctions": "expressionsOnly"
      }
    ],
    "flowtype/require-return-type": [
      2,
      "always",
      {
        "annotateUndefined": "never",
        "excludeArrowFunctions": true
      }
    ],
    "flowtype/require-valid-file-annotation": 2,
    "flowtype/semi": [
      2,
      "never"
    ],
    "flowtype/space-after-type-colon": [
      2,
      "always"
    ],
    "flowtype/space-before-generic-bracket": [
      2,
      "never"
    ],
    "flowtype/space-before-type-colon": [
      2,
      "never"
    ],
    "flowtype/union-intersection-spacing": [
      2,
      "always"
    ],
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}