[Unit]
Description=Iron Pi Webapp
After=network.target

[Service]
ExecStart=/usr/local/bin/node /opt/iron-pi-webapp/index.js
WorkingDirectory=/opt/iron-pi-webapp
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
